<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
        <h4>Todoist Stats</h4>
    </div>
    <div class="ml-auto" style="padding:5px">
        <a class="btn btn-secondary" src href="https://todoist.com/Users/viewPrefs?page=integrations" role="button">
            <img alt="Todoist" src="app/resources/img/todoist.svg">
        </a>
    </div>
    <div style="padding:5px">
        <a class="btn btn-secondary" src href="https://github.com/neallclark/todoist-reports" role="button">
            View on Github <img alt="Github" src="app/resources/img/github.png">
        </a>
    </div>
</nav>