<app-navbar></app-navbar>
<div class="container-fluid">
        
    <div class="row">
        <app-apikey class="col-6" (onApiKeyEntered)="onApiKeyEntered($event)"></app-apikey>
        <app-project-info class="col-6"></app-project-info>
    </div>

    <div class="row">
        <div class="col-6">
            <app-summary [hidden]="tasks==null" [tasks]="tasks"></app-summary>
        </div>
        <div class="col-6">
            <app-oldest [hidden]="tasks==null" [tasks]="tasks"></app-oldest>
        </div>
    </div>

    <div class="row">
        <app-weekly-chart class="col-6" [hidden]="tasks==null" [tasks]="tasks"></app-weekly-chart>
        <app-cumulative-count-chart class="col-6" [hidden]="tasks==null" [tasks]="tasks"></app-cumulative-count-chart>
    </div>

    <div class="row">
        <div class="col-sm">
            <app-tasklist [hidden]="tasks==null" [tasks]="tasks"></app-tasklist>
        </div>
    </div>

</div>