
<navbar></navbar>
<div class="container-fluid" style="padding:10px">
        
    <div class="row">
        <apikey class="col-6" (onApiKeyEntered)="onApiKeyEntered($event)"></apikey>
        <projectinfo class="col-6"></projectinfo>
    </div>

    <div class="row">
        <div class="col-6">
            <summary [hidden]="tasks==null" [tasks]="tasks"></summary>
        </div>
        <div class="col-6">
            <oldest [hidden]="tasks==null" [tasks]="tasks"></oldest>
        </div>
    </div>

    <div class="row">
        <weeklychart class="col-6" [hidden]="tasks==null" [tasks]="tasks"></weeklychart>
        <cumulativecountchart class="col-6" [hidden]="tasks==null" [tasks]="tasks"></cumulativecountchart>
    </div>

    <div class="row">
        <div class="col-sm">
            <tasklist [hidden]="tasks==null" [tasks]="tasks"></tasklist>
        </div>
    </div>

</div>