<div class="card text-white bg-dark mb-3">
  <div class="card-header">Project Information</div>
  <div class="card-body">
      <p>Exposes some extra information from the Todoist API as tables and charts that is otherwise not easily available through the official clients</p>
      <p>Although really it was just a learning exercise to try out some Angular and GraphQL</p>
      
      <div>
          <a class="btn btn-secondary" src href="https://github.com/neallclark/todoist-reports" role="button">
              View on Github <img alt="Github" class="github-btn">
          </a>
      </div>
  </div>
</div>